.block-category {
    background: #392e5c;
    min-height: calc(100vh - 300px);
    color: #dad8de;
}
.section-block-title {
    padding-top: 25px;
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.4;
    color: inherit;
    margin-bottom: 20px;
    text-align: center;
}
.popular-categories {
    padding: 10px 0 20px;
    margin: 0 -10px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}
.popular-categories-icon {
    max-width: 36px;
    max-height: 36px;
}
.popular-categories-name {
    text-transform: uppercase;
    padding: 15px 17px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 120px;
    text-align: center;
    transition: 0.3s;
}
.popular-categories-name:hover {
    color: #7f00ac;
}
.popular-categories-item {
    padding: 10px 12px;
    background: #201c2b;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    cursor: pointer;
}
.standard-block {
    width: 70%;
    margin: 0 auto;
}
.standard-block h2 {
    font-size: 40px;
    width: 80%;
    line-height: 64px;
    font-weight: 700;
    text-align: center;
    margin: 60px auto 80px auto;
    color: #dad8de;
}
.standard-stepItem{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.standard-stepItem-content {
    margin-left: 40px;
}
.standard-stepItem-content h3 {
    font-size: 2.125rem;
    margin-bottom: 20px;
}
.standard-stepItem-content p {
    font-size: 1.60rem;
    line-height: 2rem;
    max-width: 50rem;;
}
.standard-title {
    padding-bottom: 60px;
}
.notification {
    font-size: 50px;
    line-height: 64px;
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    color: #dad8de;
}