.block-category {
    background: #392e5c;
    color: #dad8de;
}
.section-block-title {
    padding-top: 25px;
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.4;
    color: inherit;
    margin-bottom: 20px;
    text-align: center;
}
.popular-categories {
    padding: 10px 0 20px;
    margin: 0 -10px;
    width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}
.popular-categories-icon {
    max-width: 36px;
    max-height: 36px;
}
.popular-categories-name {
    text-transform: uppercase;
    padding: 15px 17px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 120px;
    text-align: center;
    transition: 0.3s;
}
.popular-categories-name:hover {
    color: #7f00ac;
}
.popular-categories-item {
    padding: 10px 12px;
    background: #201c2b;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    cursor: pointer;
}