.container-video-page {
    background: #392e5c;
}
.video-title {
    width: 1300px;
    margin: auto;
    position: relative;
}
.video-title > h2 {
    font-weight: 700;
    font-size: 1.75rem;
    color: #dad8de;
    padding: 40px 0;
}
.video-title > p {
    color: #dad8de;
    font-size: 1.20rem;
    padding: 0 0 120px;
}
.video-description {
    width: 1300px;
    background: #201c2b;
    padding: 30px;
    box-shadow: 0 3px 21px rgb(117 117 117 / 20%);
    position: absolute;
    top: 168px;
}
.video-info, .video-course-duration {
    display: flex;
    align-items: center;
}
.video-course-duration {
    margin-bottom: 40px;
}
.video-course-block {
    margin: 0 15px;
}
.video-course-block p {
    color: #dad8de;
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 3px;
    text-transform: uppercase;
}
.video-course-block span {
    color: #dad8de;
    font-weight: 500;
    font-size: 0.8rem;
}
.video-course-description {
    color: #dad8de;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
}
.video-lesson-block {
    display: flex;
    width: 1170px;
    margin: 180px auto 100px;
}
.video-lesson-info {
    padding: 10px;
    border-bottom: 1px solid #d8d8d8;
}
.video-wrap-info {
    display: flex;
    justify-content: space-between;
}
.video-lesson-scroll {
    max-width: 425px;
    max-width: 350px;
    overflow-y: scroll;
    padding-left: 24px;
}
.video-lesson-info p {
    color: #969494;
    font-size: .90rem;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
}
.video-lesson-info span {
    color: #dad8de;
    font-size: .9rem;
    line-height: 16px;
    font-weight: 400;
}
.video-lesson-info h3 {
    padding-top: 5px;
    color: #dad8de;
    font-size: 1.1rem;
    line-height: 19px;
}