.container_books {
    background: #392e5c;
}
.container_books-product {
    width: 1200px;
    margin: auto;
}
.container_books-title h2 {
    text-align: center;
    font-weight: 700;
    font-size: 1.75rem;
    color: #dad8de;
    padding-top: 50px;
    margin-bottom: 10px;
}
.container_books-title p {
    text-align: center;
    color: #dad8de;
    font-size: 1.20rem;
}
.source-search {
    position: relative;
    width: 640px;
    margin: 20px auto 0;
}
.source-search img {
    position: absolute;
    top: 11px;
    left: 7px;
}
.source-search input {
    background-color: #201c2b;
    border: 0;
    outline: none;
    color: #dad8de;
    padding: 12px 0 12px 37px;
    font-size: 18px;
    width: 100%;
    margin-bottom: 20px;
}