.btn-outline {
    color: #fff;
    border-radius: 2px;
    border: 1px solid  #fff;
    text-transform: uppercase;
    padding: 15px 35px;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
}
.btn-outline:hover {
    border: 1px solid #847d7d;
    color: #847d7d;
    outline: none;
}
.footer-icons {
    display: flex;
    width: 56%;
    margin: 15px auto;
    justify-content: space-between;
}
.footer-icons-ul {
    display: flex;
    align-items: center;
}
.footer-icons-ul li {
    margin-right: 15px;
}
.main-footer--hr {
    height: 1px;
    border: none;
    border-bottom: 1px solid #3c3c3c;
}
.footer-main-wrapper {
    display: flex;
    width: 56%;
    margin: 20px auto;
    justify-content: space-between;
}
.footer-main-link {
    color: #dadada;
    text-transform: uppercase;
    letter-spacing: .9px;
    font-weight: bold;
    cursor: pointer;
}
.footer-list {
    padding-top: 15px;
}
.footer-item {
    color: #868585;
    text-decoration: none;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: .4px;
    font-weight: 500;
    cursor: pointer;
    transition: color .3s ease-in;
}
.footer-item:hover {
    color: #fff;
}
.main-footer--dark-footer {
    background: #1d1d1d;
    color: #696969;
    padding: 5px 10px 20px;
    margin-top: 20px;
}
.dark-footer--ul {
    margin-top: 21px;
}
.dark-footer--ul li {
    display: inline-block;
    padding-right: 20px;
    cursor: pointer;
    transition: color .3s ease-in;
}
.dark-footer--ul li:hover {
    color: #fff;
}
.dark-footer-link {
    color: #5d5d5d;
    font-size: 12px;
    font-weight: 500;
    transition: color .3s ease-out;
}
.dark-footer-copyrights {
    margin-top: 25px;
    color: #5d5d5d;
    font-size: 12px;
    font-weight: 500;
}
.dark-footer--container {
    max-width: 57%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}