.content__block-test {
    background: #392e5c;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
}
.content__test-list {
    width: 800px;
    margin: auto;
}
.content__test-title h2 {
    text-align: center;
    font-weight: 700;
    font-size: 1.75rem;
    color: #dad8de;
    padding-top: 50px;
    margin-bottom: 10px;
}
.content__test__form {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 40px 20px 30px;
}
.content__test__header {
    display: flex;
    justify-content: space-between;
}
.content__test__header p {
    margin-bottom: 20px;
    max-width: 680px;
    line-height: 25px;
}
.content__test__header p, .content__test__header span {
    color: #dad8de;
    font-size: 1.25rem;
}
.test__form-list li {
    border: 1px solid #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #dad8de;
    font-size: 1.25rem;
    padding: 10px;
    cursor: pointer;
}
.test__form-list:hover {
    background: rgba(255, 255, 255, .2);
    transition: background .3s ease-in-out;
}
.success {
    background: rgba(161, 240, 69, .7)
}
.error {
    background: rgba(240, 87, 108, .7)
}