.course-block {
    min-height: calc(100vh - 300px);
}
.course-block__search {
    background: #392e5c;
    padding-bottom: 100px;
}
.course-block__title {
    padding-top: 100px;
    text-align: center;
    font-weight: 700;
    font-size: 1.75rem;
    color: #dad8de;
    margin-bottom: 20px;
}
.course-block__description {
    text-align: center;
    color: #dad8de;
    font-size: 1.30rem;
    margin-bottom: 40px;
}
.course-block__source-search {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 640px;
    margin: 0 auto;
}
.course-block__source-search img {
    position: absolute;
    top: 10px;
    left: 10px;
}
.course-block__source-search input {
    background-color: #201c2b;
    border: 0;
    outline: none;
    color: #dad8de;
    padding: 12px 0 12px 45px;
    font-size: 18px;
    width: 100%;
    margin-bottom: 20px;
}
.product-list {
    max-width: 1200px;
    margin: 0 auto;
}
.product-list h2 {
    font-weight: 700;
    font-size: 1.75rem;
    color: #dad8de;
    margin: 40px 0;
}
.product-item {
    display: flex;
    box-shadow: 0 0 0 1px #7f00ac;
    margin-bottom: 20px;
}
.product-item:last-child {
    margin-bottom: 50px;
}
.course-description {
    padding: 20px;
}
.course-description h3 {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #dad8de;
    line-height: 27px;
    margin-bottom: 11px;
}
.course-description > p {
    font-weight: 400;
    font-size: 1.15rem;
    line-height: 19px;
    color: #dad8de;
    display: block;
    margin-bottom: 11px;
}
.course-title {
    min-height: 32px;
    padding-bottom: 8px;
}
.course-info {
    display: flex;
}
.course-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course-duration {
    display: flex;
    align-items: center;
}
.course-duration img {
    margin-right: 5px;
}
.course-duration span {
    font-size: 0.900rem;
    font-weight: 600;
    color: #dad8de;
    margin-right: 10px;
}
.course-info-container a {
    color: #dad8de;
    border-radius: 2px;
    padding: 11px 20px;
    background-image: linear-gradient( 
134deg
 ,#944fff 0,#af00ed 100%);
    font-weight: 700;
}
.nothing-found {
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 1.75rem;
    color: #dad8de;
    margin: 100px 0;
    width: 100%;
}